# Input() and print() example

# Getting a string

In [1]:
my_word=str((input("Enter a word any : ")))

Enter a word any : chaiti

In [2]:
print(my_word)

chaiti

# Getting number input

In [3]:
num = int((input("Enter a number as you like: ")))

Enter a number as you like: 9

In [4]:
print(num)

9

# Getting a float input

In [5]:
my_Pi = float((input("Enter a float number : ")))

Enter a float number : 3.14

In [6]:
print(my_Pi)

3.14

# Loops

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

# with start=1 and step=2 value

In [8]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

# My Work here

# Print numbers from 0-10 using a for loop

In [9]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for i in range(11):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11

# Print only the even values between 0-10

In [11]:
for i in range(11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

# Construct a for loop using a range specified by user input

In [13]:
user_input = int(input("Enter the range limit: "))
for i in range(user_input+1):
    print(i)

Enter the range limit: 8
0
1
2
3
4
5
6
7
8

# Construct a for loop by taking start, end, and step inputs from the user

In [14]:
start = int(input("Enter the start value: "))
end = int(input("Enter the end value: "))
step = int(input("Enter the step value: "))

for i in range(start, end, step):
    print(i)

Enter the start value: 1
Enter the end value: 8
Enter the step value: 2
1
3
5
7

# While loop

In [15]:
num=1
#define a while loop
while(num<4):
    print(num)
    num = num+1

1
2
3

# My turn

# Print numbers less than or equal to 17 using a while loop

In [16]:
num = 0
while num <= 17:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

# Print only the odd values less than or equal to 28 using a while loop

In [17]:
num = 1
while num <= 28:
    if num % 2 != 0:
        print(num)
    num += 1

1
3
5
7
9
11
13
15
17
19
21
23
25
27

# Construct a while loop using user input as the conditional

In [18]:
user_input = int(input("Enter a number: "))
count = 0
while count <= user_input:
    print(count)
    count += 1
    if count > 100:  # Adding a safeguard to prevent an infinite loop
        print("Loop reached 100 iterations, exiting.")
        break

Enter a number: 11
0
1
2
3
4
5
6
7
8
9
10
11

# Break use

# Break inside afor loop

In [19]:
for i in range(5):
    print(i)
    if i==2:
        print("the number is %d  are leaving the for loop" %i)
        break

0
1
2
the number is 2  are leaving the for loop

# Break inside a while loop

In [20]:
num=0
while(num<=100):
    print(num)
    if num==2:
        print("you are leaving the while loop")
        break
    num+=1

0
1
2
you are leaving the while loop

# My Turn

# Print numbers between 0 and 15 using a while loop that stops at 10:

In [21]:
num = 0
while num <= 15:
    if num == 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

# Print odd values between 0 and 18 using a while loop that stops at 12

In [22]:
num = 1
while num <= 18:
    if num == 12:
        break
    print(num)
    num += 2

1
3
5
7
9
11
13
15
17

# Construct a while loop using user input as a conditional that stops at half the range specified

In [25]:
user_input = int(input("Enter a number for the range: "))
half_range = user_input // 2 if user_input % 2 == 0 else (user_input // 2) + 1
count = 0

while count <= user_input:
    if count == half_range:
        break
    print(count)
    count += 1

Enter a number for the range: 12
0
1
2
3
4
5

# Using Continue

# using while loop

In [26]:
# Print numbers less than or equal to 9 except those not divisible by 2
count = 0
while count <= 9:
    count += 1
    if count % 2 != 0:
        continue
    print(count)

2
4
6
8
10

# the second task

In [27]:
# Print even values less than or equal to 16 using continue
count = 0
while count <= 16:
    count += 1
    if count % 2 != 0:
        continue
    print(count)

2
4
6
8
10
12
14
16

# Functions work

In [28]:
# Function to print the average of three numbers
def average_of_three(a, b, c):
    average = (a + b + c) / 3
    print("The average is:", average)

# Function to print the sum of five numbers
def sum_of_five(a, b, c, d, e):
    total = a + b + c + d + e
    print("The sum is:", total)

# Function to solve a quadratic equation
def solve_quadratic(a, b, c):
    # Calculate the discriminant
    discriminant = b**2 - 4*a*c

    # Calculate solutions
    if discriminant > 0:
        root1 = (-b + (discriminant ** 0.5)) / (2 * a)
        root2 = (-b - (discriminant ** 0.5)) / (2 * a)
        print("The solutions are:", root1, "and", root2)
    elif discriminant == 0:
        root = -b / (2 * a)
        print("The solution is:", root)
    else:
        real_part = -b / (2 * a)
        imaginary_part = ((-discriminant) ** 0.5) / (2 * a)
        print("The solutions are complex:", real_part, "+", imaginary_part, "i and", real_part, "-", imaginary_part, "i")

# Example usage
average_of_three(5, 8, 12)
sum_of_five(1, 2, 3, 4, 5)
solve_quadratic(1, -3, -4)

The average is: 8.333333333333334
The sum is: 15
The solutions are: 4.0 and -1.0

# Extra-activities:

# Taking User Inputs

In [31]:
# Taking a string input for name
name = input("Enter your name: ")

# Taking an integer input for Date of Birth (DoB)
dob = int(input("Enter your year of birth: "))

# Calculating age assuming the current year is 2023
current_year = 2023
age = current_year - dob

# Greeting the user
print(f"Hello, {name}! Your age is {age} years.")

Enter your name: chaiti
Enter your year of birth: 2002
Hello, chaiti! Your age is 21 years.

# Here are functions for the specified formulas

In [32]:
import math

# Function to calculate the area of a triangle
def area_of_triangle(base, height):
    return 0.5 * base * height

# Function to calculate the area of a circle
def area_of_circle(radius):
    return math.pi * (radius ** 2)

# Function to calculate the volume of a cylinder
def volume_of_cylinder(radius, height):
    return math.pi * (radius ** 2) * height

# Function to calculate the circumference of Earth using mean radius
def circumference_of_earth():
    mean_radius_earth = 6371.0  # in kilometers
    return 2 * math.pi * mean_radius_earth

# Example usage of the functions
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
print("Area of the triangle:", area_of_triangle(base, height))

radius_circle = float(input("Enter the radius of the circle: "))
print("Area of the circle:", area_of_circle(radius_circle))

radius_cylinder = float(input("Enter the radius of the cylinder: "))
height_cylinder = float(input("Enter the height of the cylinder: "))
print("Volume of the cylinder:", volume_of_cylinder(radius_cylinder, height_cylinder))

print("Circumference of Earth:", circumference_of_earth(), "kilometers")

Enter the base of the triangle: 20
Enter the height of the triangle: 15
Area of the triangle: 150.0
Enter the radius of the circle: 2.16
Area of the circle: 14.65741468458854
Enter the radius of the cylinder: 3.1455
Enter the height of the cylinder: 5.2
Volume of the cylinder: 161.6339533679868
Circumference of Earth: 40030.173592041145 kilometers