# Variables:

In [31]:
myname="Momatahina Akter Chaiti"

In [32]:
year=19

In [33]:
pi= 3.14

In [34]:
bool_ = True

In [35]:
# list example
numbers = [1, 2, 3, 4, 5]

In [36]:
# tuple example 
fruits = ('apple', 'banana', 'orange', 'grape')

In [37]:
# Creating a dictionary of a person's information
person = {
    'name': 'Momatahina Akter Chaiti',
    'age': 19,
    'city': 'London',
    'email': 'momatahinaakter@gmail.com'
}

In [38]:
print(myname)

Momatahina Akter Chaiti

In [39]:
print(year)

19

In [40]:
print(pi)

3.14

In [41]:
print(bool_)

True

In [42]:
print(numbers)

# the index value 2
print (numbers[2])

[1, 2, 3, 4, 5]
3

In [43]:
print(fruits)
# the index value 3
print(fruits[3])

('apple', 'banana', 'orange', 'grape')
grape

In [44]:
print(person)

# the key value of name
print(person['name'])

# the key value of age
print(person['age'])

# the key value of email
print(person['email'])

{'name': 'Momatahina Akter Chaiti', 'age': 19, 'city': 'London', 'email': 'momatahinaakter@gmail.com'}
Momatahina Akter Chaiti
19
momatahinaakter@gmail.com

# Operators:

In [45]:
# Define variables x, y, and z
x = 5
y = 2
z = 3

# Perform the operations mentioned
result1 = -x
result2 = x + y
result3 = x * y
result4 = x / y
result5 = x % y
result6 = x // y

# Print the results
print(result1, result2, result3, result4, result5, result6)

-5 7 10 2.5 1 2

# The calculation :

In [46]:
earth_radius_km = 6371
altitude_feet = 40000

# Conversion from kilometers to miles using operators and parentheses
earth_radius_miles = earth_radius_km * 0.621371
print("Earth's mean radius in miles:", earth_radius_miles)

# Conversion from feet to meters using operators and parentheses
altitude_meters = altitude_feet * 0.3048
print("Altitude in meters:", altitude_meters)

Earth's mean radius in miles: 3958.754641
Altitude in meters: 12192.0

# Decision Making :

# Decision Making in Python: IF statement :

In [47]:
# Single-line if statement example
num = 100  # Change this value to see different outcomes

if num==100:
    print("Value of expression is 100");
    
print("Goodbye!")

Value of expression is 100
Goodbye!

# Decision Making: IF...ELSE :

In [48]:
# Example of if...else statement
num = 100  # Change this value to see different outcomes

if num == 100:
    print("Got a True expression Value")
    print(num)
else:
    print("Got a False expression Value")
    print(num)

Got a True expression Value
100

In [49]:
# Change this value 90 to see different outcomes
num = 90  

if num == 100:
    print("Got a True expression Value")
    print(num)
else:
    print("Got a False expression Value")
    print(num)

Got a False expression Value
90

# Decision Making: The elif Statement :

In [50]:
# Example of if...elif...else statement
num = 100

if num > 200:
    print("1 - Got a True expression value")
    print(num)
elif num > 150:
    print("2 - Got a True expression value")
    print(num)
elif num > 100:
    print("3 - Got a True expression value")
    print(num)
else:
    print("4 - Got a False expression value")
    print(num)

print("Good bye!")

4 - Got a False expression value
100
Good bye!

In [51]:
# change num value
num = 300

if num > 200:
    print("1 - Got a True expression value")
    print(num)
elif num > 150:
    print("2 - Got a True expression value")
    print(num)
elif num > 100:
    print("3 - Got a True expression value")
    print(num)
else:
    print("4 - Got a False expression value")
    print(num)

print("Good bye!")

1 - Got a True expression value
300
Good bye!

In [52]:
# change num value
num = 180

if num > 200:
    print("1 - Got a True expression value")
    print(num)
elif num > 150:
    print("2 - Got a True expression value")
    print(num)
elif num > 100:
    print("3 - Got a True expression value")
    print(num)
else:
    print("4 - Got a False expression value")
    print(num)

print("Good bye!")

2 - Got a True expression value
180
Good bye!

In [53]:
# change num value
num = 50

if num > 200:
    print("1 - Got a True expression value")
    print(num)
elif num > 150:
    print("2 - Got a True expression value")
    print(num)
elif num > 100:
    print("3 - Got a True expression value")
    print(num)
else:
    print("4 - Got a False expression value")
    print(num)

print("Good bye!")

4 - Got a False expression value
50
Good bye!